<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Holdings</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/template.css" />
</head>
<body>
{% extends "template.html" %}
{% block content %}

<br>
<h2 class="title">Crypto Page</h2>
<p><b>Just need to add price pulling!</b></p>
<button class='btn' onclick="myFunction()">Toggle dark mode</button>
    <section class='section-center'>
        <form class='token-form'>
            <p class="alert"></p>
            <h3>Crypto List</h3>
            <div class="form-control">
                <input type="text" id='name' placeholder="Songbird" />
                <input type="text" id='ticker' placeholder="SGB" />
                <input type="number" id='amount' placeholder="1000000" step="0.01" min="0" />
                <input type="hidden" id='user_email' value="{{ user_email }}">
                <button type='submit' class='submit-btn'>
                    Add
                </button>
            </div>
        </form>

        <div class="token-container">
            <div class="token-list">

            </div>
        </div>
    </section>

    <script src="../static/javascript/crypto.js"></script>

{% endblock %}
</body>
</html>