{% extends "template.html" %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/template.css') }}">

  </head>
<br>
<h2>Welcome, {{ name }}!</h2>
<p>Your email is: {{email}}. Checkout your Crypto Holding Page
      <a href="{{ url_for('tokens') }}">Here</a>
</p>
<button class='btn' onclick="flipTheLights()">Toggle dark mode</button>
<section class='section-center'>
  <form class='token-form'>
    <p class="alert"></p>
    <h3>Account Settings</h3>
    <div class="form-control">
      <input type="password" id='pass1' placeholder="Current Password" />
      <input type="password" id='pass2' placeholder="New Password" />
      <input type="password" id='pass3' placeholder="New Password Again" />
      <button type='submit' class='submit-btn'>
        Update
      </button>
    </div>
  </form>
</section>
<script src="../static/javascript/profile.js"></script>
{% endblock %}