<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/template.css') }}">

  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Crypto Watcher</h1>
        <strong><nav>
          <ul class="menu">
            <li class="my-list"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="my-list"><a href="{{ url_for('about') }}">About</a></li>
            {% if current_user.id %}
            <li class="my-list"><a href="{{ url_for('tokens') }}">Crypto</a></li>
            <li class="my-auth-list"><a href="{{ url_for('logout') }}">Logout</a></li>
            <li class="my-auth-list"><a href="{{ url_for('profile') }}">Profile</a></li>
            {% else %}
            <li class="my-auth-list"><a href="{{ url_for('login') }}">Login</a></li>
            <li class="my-auth-list"><a href="{{ url_for('signup') }}">Signup</a></li>
            {% endif %}
          </ul>
        </nav></strong>
      </div>
    </header>
    <br>

    {% block content %}
    {% endblock %}

    <script>
    function myFunction() {
    var element = document.body;
    element.classList.toggle("dark-mode");
    }
</script>

  </body>
</html>